body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.layout {
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 8fr;
  height: 100vh;
  background-color: burlywood;
}

.sidebar {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: blue;
}

.header {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: green;
}

.content {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: purple;
}
