:root {
  --top-inset: 25px;
  --custom-blue: #4590ce;
  --custom-grey: #e3e8ef;
  --custom-orange: #e7b64a;
  --header-horizontal-inset: 40px;
  --custom-box-shadow-grey: rgb(211, 211, 211);
  --main-content-radius: 10px;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-rows: 1fr 3fr 9fr;
  background-color: var(--custom-blue);
  padding-left: 25px;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(105%) contrast(103%);
}

.sidebar-title-area {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: 1fr 4fr;
  align-content: center;
  gap: 10px;
}

.sidebar-title {
  align-content: center;
  color: white;
  font-size: 30px;
}

.sidebar-image {
  background-image: url(../images/icons/view-dashboard.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  justify-self: center;
}

.home-icon::before {
  background-image: url(../images/icons/home.svg);
}

.profile-icon::before {
  background-image: url(../images/icons/card-account-details-outline.svg);
}

.messages-icon::before {
  background-image: url(../images/icons/message-reply.svg);
}

.history-icon::before {
  background-image: url(../images/icons/clock-time-three.svg);
}

.tasks-icon::before {
  background-image: url(../images/icons/note-multiple.svg);
}

.communities-icon::before {
  background-image: url(../images/icons/account-group.svg);
}

.settings-icon::before {
  background-image: url(../images/icons/cog.svg);
}

.support-icon::before {
  background-image: url(../images/icons/help-box.svg);
}

.privacy-icon::before {
  background-image: url(../images/icons/shield-check.svg);
}

li::before {
  content: "";
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  vertical-align: top;
  margin-right: 20px;
  padding: 0px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(105%) contrast(103%);
}

.sidebar menu {
  padding: 0px;
}

li {
  list-style: none;
  color: white;
  margin-top: 10px;
  font-size: 25px;
}

.sidebar .logo {
  font-size: 2em;
  color: white;
}

.first-menu {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: self-start;
  align-self: self-start;
}

.menu {
  margin: 0px;
}

.second-menu {
  grid-row-start: 3;
  grid-row-end: 4;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: var(--top-inset);
  padding-bottom: var(--top-inset);
}

.search-area {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.magnifying-glass {
  height: 30px;
  stroke: white;
}

.search {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background: none;
  border-style: none;
}

.search-bar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: var(--custom-grey);
  border-radius: var(--main-content-radius);
  border-style: none;
  height: 30px;
}

.notification-area {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  align-content: center;
  align-items: center;
}

.notification-icon {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 30px;
  align-self: center;
  justify-self: center;
}

.small-avatar-area {
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.small-avatar {
  background-color: var(--custom-orange);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.user-name-short {
  grid-column-start: 4;
  grid-column-end: 6;
  font-weight: 500;
  align-self: center;
  justify-self: center;
}

.user-area {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 1fr;
}

.big-avatar-area {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  align-self: center;
  justify-self: self-end;
  padding: 10px;
}

.big-avatar {
  background-color: var(--custom-orange);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.greeting {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: self-start;
  align-self: self-end;
  font-size: 12px;
}

.user-name-long {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: self-start;
  align-self: self-start;
  font-size: 20px;
  font-weight: 500;
}

.post-area {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.user-action {
  background-color: var(--custom-blue);
  border-radius: 20px;
  border-style: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.content {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: 4fr 4fr 3fr;
  grid-template-rows: 1fr 8fr 1fr 8fr 1fr;
  background-color: var(--custom-grey);
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 5px 5px var(--custom-box-shadow-grey) inset;
  gap: 20px;
}

.title {
  margin-bottom: -10px;
  font-weight: 500;
  font-size: 18px;
}

.projects-title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: self-start;
  align-self: self-end;
}

.projects {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.project-card {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
  border-radius: var(--main-content-radius);
  padding: 20px;
  border-left: 10px solid var(--custom-orange);
  box-shadow: 5px 5px 5px var(--custom-box-shadow-grey);
}

.card-name {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 9;
  align-self: self-end;
  justify-self: self-start;
  font-weight: 600;
  font-size: 18px;
}

.card-text {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 9;
  overflow: hidden;
  color: grey;
}

.card-favorite {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 7;
  align-self: center;
  justify-self: center;
  height: 20px;
}

.card-watch {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 7;
  grid-column-end: 8;
  align-self: center;
  justify-self: center;
  height: 20px;
}

.card-share {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 8;
  grid-column-end: 9;
  align-self: center;
  justify-self: center;
  height: 20px;
  rotate: 270deg;
}

.announcements-title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: self-start;
  align-self: self-end;
}

.announcements {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: 5fr 1fr 5fr 1fr 5fr;
  background-color: white;
  border-radius: var(--main-content-radius);
  box-shadow: 5px 5px 5px var(--custom-box-shadow-grey);
  padding: 20px;
}

.announcement {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.announcement-name {
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: self-start;
  align-self: self-end;
  font-weight: 600;
  font-size: 12px;
}

.announcement-text {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 10px;
  overflow: hidden;
  color: grey;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: grey;
  justify-self: center;
  align-self: center;
}

.trending-title {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: self-start;
  align-self: self-end;
}

.trending {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
  border-radius: var(--main-content-radius);
  box-shadow: 5px 5px 5px var(--custom-box-shadow-grey);
  padding: 20px;
  gap: 5px;
}

.trending-project {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 3fr;
  column-gap: 5px;
}

.trending-avatar-area {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  justify-self: center;
  align-self: center;
}

.trending-avatar {
  background-color: var(--custom-orange);
  width: 40px;
  height: 40px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}

.trending-handle {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 14px;
  justify-self: self-start;
  align-self: self-end;
}

.trending-name {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 14px;
  justify-self: self-start;
  align-self: self-start;
  color: grey;
}
