:root {
  --top-inset: 25px;
  --custom-blue: #4590ce;
  --custom-grey: #e3e8ef;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.layout .sidebar {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--custom-blue);
  padding-top: var(--top-inset);
  padding-left: 25px;
  align-content: baseline;
}

.layout .header {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
}

.layout .content {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--custom-grey);
}

li {
  color: white;
  list-style: square;
  list-style-position: outside;
  margin: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.sidebar menu {
  padding: 0px;
  margin-top: 80px;
}

.sidebar .logo {
  font-size: 2em;
  color: white;
}
